*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.vs10x

[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*.obj
*.pdb
*.tmp
*.log
*.scc

.vs/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
